<section class="container centered">
  <div class="avatar"><img src="/images/avatar-404.svg" alt="avatar"></div>
  <div class="error">
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <p>Sorry, this page does not exist.<br />You can head back to <a href="{{ .Site.BaseURL }}">homepage</a>.</p>
  </div>
</section>
